@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Elfelejtett jelszó visszaállítása";
}

<h1>@ViewData["Title"]</h1>
<p>
    Kérjük, ellenőrizze e-mailjét a jelszó visszaállításához.
</p>

