@{
    ViewData["Title"] = "Főoldal";
}

<div class="text-center">
    <div class="card-welcome text-center">
        <div class="card-body">
            <h3>Kedves Horgász!</h3>
            <p>Üdvözlünk a Digitális Fogásnapló oldalán.
           </p><hr>
            <p>A versennyel kapcsolatos általános tudnivalókat itt olvashatod, <br/> a versenyszabályzattal kapcsolatos válaszokat pedig a Tudásbázisban tudod megkeresni.</p><hr>

            <div id="RaceInfo">
                <h4>A verseny időpontja</h4>
                <p>2022.07.17</p>
                <h5>Álláshelyek sorsolás</h5>
                <p>05:00</p>
                <h5>Kezdés időpontja</h5>
                <p>08:00</p>
                <h5>Verseny vége</h5>
                <p>18:00</p>
                <h5>Eredmény hírdetés</h5>
                <p>19:00</p>

            </div>
        </div>
    </div>
</div>

