@{
    ViewData["Title"] = "Tudásbázis";
}

<div class="text-center">
    <h3>Tudásbázis</h3>

    <p>Ezen az oldalon találod az általánosságban felmerülő kérdéseket és válaszokat, <br/>amelyek segíthetnek neked az oldalon történő könnyebb kiigazodásban.</p>
    <p>Kérlek segítsd az oldal fejlesztését és küldd el nekünk az észrevételeidet.</p>
       <p>
           <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Contact">Segítek!</a>
           </p><hr>

    <a class="nav-link-1" href="https://nyito.mohosz.hu/index.php/versenysport/63-versenyszabalyzatok/873-altalanos-orszagos-versenyszabalyzat">Országos Általános versenyszabályzat</a>
</div>
