@{
    ViewData["Title"] = "ÁSZF";
}


<div class="ASZF">
    <h3>@ViewData["Title"]</h3>
    <h4>Digitális Fogásnapló</h4>
    <h5>Általános Szerződési Feltételek</h5>
    <p>
        Jelen dokumentum nem kerül iktatásra (utólag nem hozzáférhető), kizárólag elektronikus
        formában kerül megkötésre, nem minősül írásbeli szerződésnek, magyar nyelven íródik,
        magatartási kódexre nem utal. A webshop működésével, megrendelési, és szállítási folyamatával
        kapcsolatosan felmerülő kérdések esetén a megadott elérhetőségeinken rendelkezésére állunk.
        Jelen Ászf hatálya Szolgáltató weblapján (http://...) és aldomainjein történő jogviszonyokra
        terjed ki. Jelen Ászf folyamatosan elérhető a következő weboldalról: http://..../aszf és letölthető,
        továbbá bármikor kinyomtatható az alábbi linkről: http://..../aszf.pdf
    </p><hr />
    <ul>SZOLGÁLTATÓ ADATAINAK FELSOROLÁSA</ul>
    <ul>
        ALAPVETŐ RENDELKEZÉSEK:
        <li>Hivatkozás a jogszabályokra</li>
        <li> A szabályzat módosíthatósága.</li>
        <li>
            Szolgáltató fenntart magának minden jogot a weboldal, annak bármely részlete és az
            azon megjelenő tartalmak, valamint a weboldal terjesztésének tekintetében. Tilos a
            weboldalon megjelenő tartalmak vagy azok bármely részletének letöltése,
            elektronikus tárolása, feldolgozása és értékesítése a Szolgáltató írásos hozzájárulása
            nélkül.
        </li>
    </ul><hr />

         <ul>
             REGISZTRÁCIÓ
             <li>A regisztráció feltételeinek leírása.</li>
             <li>
                 Regisztrálni a verseny szervezője által meghatározott személyeknek lehetséges. A regisztrált felhasználók hitelességét a verseny szervezője folyamatosan ellenőrzi.
             </li>
         </ul><hr />
         
              <ul>
                  VEGYES RENDELKEZÉSEK
                  <li>Bíróság kikötése, egyéb feltételek.</li>
              </ul><hr />   
    
                   <ul>
                       PANASZKEZELÉS RENDJE (FOGYASZTÓNAK MINŐSÜLŐ FELHASZNÁLÓK ESETÉN)
                       <li>Panaszok kezelése, ODR link, békéltető testületek.</li>
                   </ul><hr />  
    
                        <ul>
                            SZERZŐI JOGOK
                            <li>Az applikáció szerzői jogi védelme.</li>
                        </ul><hr />
      
                             <ul>
                                 ADATVÉDELEM
                                 <li>A weboldal adatkezelési tájékoztatója elérhető a következő oldalon: http://....</li>
                             </ul><hr />
</div>